<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Registration Server</title>
</head>
<body>
    <h1>Express Requext Cheaking </h1>

    <h2>Registration Form</h2>
    <form action="/register" method="post">
        <div class="name">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div><br>
        <div class="section"></div>
            <label for="section">Section</label>
            <input type="text" name="section" id="section">
        </div><br><br>
        <button type="submit">Registration</button>
    </form>
</body>
</html>