<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>circle Area Calc</title>
</head>
<body>
    <h1>Circle Area Calc</h1>
    <a href="/">Back</a>

    <form action="/circle" method="post">

        <div class="height">
            <label for="Radius">Radius : </label>
            <input type="number" name="radius" id="radius">
            <span>meter</span>
        </div>
        <button type="submit">Calculation</button>
    </form>
</body>
</html>