<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Area calculator</title>
</head>
<body>
    <h1>Welcome to Express Area calculator</h1>
    <ul>
        <li><a href="/tringle">Tringle</a></li>
        <li><a href="/circle">Circle</a></li>
        <li><a href="/trapezium">Trapezium</a></li>
    </ul>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima ullam vitae magnam nesciunt, et quia!</h3>
</body>
</html>