<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trapezium Area Calc</title>
</head>
<body>
    <h1>Trapezium Area Calc</h1>
    <a href="/">Back</a>
    <form action="/trapezium" method="post">

        <div class="width">
            <label for="width">Width : </label>
            <input type="number" placeholder="width" name="width" id="width">
            <span>meter</span>
        </div>
        <div class="length"></div>
            <label for="length">length : </label>
            <input type="number" placeholder="length" name="length" id="length">
            <span>meter</span>
        </div>
        <div class="height">
            <label for="height">Height : </label>
            <input type="number" placeholder="Height" name="height" id="height">
            <span>meter</span>
        </div>
        <button type="submit">Calculation</button>
    </form>
</body>
</html>