<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tringle Area Calc</title>
</head>
<body>
    <h1>Tringle Area Calc</h1>
    <a href="/">Back</a>
    <form action="/tringle" method="post">

        <div class="land">
            <label for="land">Land : </label>
            <input type="number" placeholder="Land" name="land" id="land">
            <span>meter</span>
        </div>
        <div class="height">
            <label for="height">Height : </label>
            <input type="number" placeholder="Height" name="height" id="height">
            <span>meter</span>
        </div>
        <button type="submit">Calculation</button>
    </form>
</body>
</html>